* text=auto eol=lf

*.html text
*.css text
*.js text
*.mjs text
*.md text
*.json text
*.xml text
*.txt text
*.yml text
*.yaml text
*.svg text

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.ico binary
